@model DatatableCRUD.Models.Employee

<h3>Eliminar Persona</h3>
<hr />
@using (Html.BeginForm("delete", "home", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.HiddenFor(a => a.EmployeeID)
    <div class="form-group">
        <label><strong>Nombre</strong></label>
        <p>@Model.Nombre</p>
    </div>
    <hr />
    <div class="form-group">
        <label><strong>Apellido Pateno</strong></label>
        <p>@Model.Apellido_Paterno</p>
    </div>
    <hr />
    <div class="form-group">
        <label><strong>Apellido Materno</strong></label>
        <p>@Model.Apellido_Materno</p>
    </div>
    <hr />
    <div class="form-group">
        <label><strong>CURP</strong></label>
        <p>@Model.CURP</p>
    </div>
    <hr />
    <div>
        <input type="submit" class="btn btn-danger" value="Eliminar" />
    </div>
}